<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= simple_format(@event.content) %>
</p>

<p>
  <strong>Scheduled on:</strong>
  <%= @event.scheduled_on %>
</p>

<p>
  <strong>Type:</strong>
  <%= @event.event_type %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
