<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar_inner">
    <div class="container">      
      <nav>
        <%= link_to image_tag("iecep_logo.gif", alt: "IECEP", size: "60x60", id:"logo"), 
          root_path %>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <%= render_header("News", "Seminars")%>
          <%= render_header("Events", "Calendar")%>
          <li><%= link_to "Membership", membership_path %></li>
          <%= render_header("About", "Officers,Members")%>
          <li><%= link_to "Contact Us", contact_path %></li>
          <li><%= link_to "Gallery", gallery_path %></li>
          <li><%= link_to "Admin", admin_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>